In [1]:
import os
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv(r"C:\Users\DELL\Downloads\jan_2019_ontime.csv")

In [3]:
df

,DAY_OF_MONTH,DAY_OF_WEEK,OP_UNIQUE_CARRIER,OP_CARRIER_AIRLINE_ID,OP_CARRIER,TAIL_NUM,OP_CARRIER_FL_NUM,ORIGIN_AIRPORT_ID,ORIGIN_AIRPORT_SEQ_ID,ORIGIN,...,DEST_AIRPORT_SEQ_ID,DEST,DEP_TIME,DEP_DEL15,DEP_TIME_BLK,ARR_TIME,ARR_DEL15,CANCELLED,DIVERTED,DISTANCE
0,1,2,9E,20363,9E,N8688C,3280,11953,1195302,GNV,...,1039707,ATL,601.0,0.0,0600-0659,722.0,0.0,0,0,300
1,1,2,9E,20363,9E,N348PQ,3281,13487,1348702,MSP,...,1119302,CVG,1359.0,0.0,1400-1459,1633.0,0.0,0,0,596
2,1,2,9E,20363,9E,N8896A,3282,11433,1143302,DTW,...,1119302,CVG,1215.0,0.0,1200-1259,1329.0,0.0,0,0,229
3,1,2,9E,20363,9E,N8886A,3283,15249,1524906,TLH,...,1039707,ATL,1521.0,0.0,1500-1559,1625.0,0.0,0,0,223
4,1,2,9E,20363,9E,N8974C,3284,10397,1039707,ATL,...,1177801,FSM,1847.0,0.0,1900-1959,1940.0,0.0,0,0,579
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
583980,31,4,UA,19977,UA,N776UA,200,12016,1201602,GUM,...,1217305,HNL,749.0,0.0,0700-0759,1832.0,0.0,0,0,3801
583981,31,4,UA,19977,UA,N36280,174,12016,1201602,GUM,...,1495503,SPN,717.0,0.0,0700-0759,759.0,0.0,0,0,129
583982,31,4,UA,19977,UA,N36280,117,14955,1495503,SPN,...,1201602,GUM,857.0,0.0,0900-0959,933.0,0.0,0,0,129
583983,31,4,UA,19977,UA,N39726,105,14955,1495503,SPN,...,1201602,GUM,1820.0,0.0,1800-1859,1854.0,0.0,0,0,129
583984,31,4,UA,19977,UA,N39726,104,12016,1201602,GUM,...,1495503,SPN,1636.0,0.0,1600-1659,1719.0,0.0,0,0,129

In [4]:
#set_option is used to display all the columns
pd.set_option('display.max_columns',None)

In [5]:
df.head()

,DAY_OF_MONTH,DAY_OF_WEEK,OP_UNIQUE_CARRIER,OP_CARRIER_AIRLINE_ID,OP_CARRIER,TAIL_NUM,OP_CARRIER_FL_NUM,ORIGIN_AIRPORT_ID,ORIGIN_AIRPORT_SEQ_ID,ORIGIN,DEST_AIRPORT_ID,DEST_AIRPORT_SEQ_ID,DEST,DEP_TIME,DEP_DEL15,DEP_TIME_BLK,ARR_TIME,ARR_DEL15,CANCELLED,DIVERTED,DISTANCE
0,1,2,9E,20363,9E,N8688C,3280,11953,1195302,GNV,10397,1039707,ATL,601.0,0.0,0600-0659,722.0,0.0,0,0,300
1,1,2,9E,20363,9E,N348PQ,3281,13487,1348702,MSP,11193,1119302,CVG,1359.0,0.0,1400-1459,1633.0,0.0,0,0,596
2,1,2,9E,20363,9E,N8896A,3282,11433,1143302,DTW,11193,1119302,CVG,1215.0,0.0,1200-1259,1329.0,0.0,0,0,229
3,1,2,9E,20363,9E,N8886A,3283,15249,1524906,TLH,10397,1039707,ATL,1521.0,0.0,1500-1559,1625.0,0.0,0,0,223
4,1,2,9E,20363,9E,N8974C,3284,10397,1039707,ATL,11778,1177801,FSM,1847.0,0.0,1900-1959,1940.0,0.0,0,0,579

In [6]:
#Data Dictionary
df.columns

Index(['DAY_OF_MONTH', 'DAY_OF_WEEK', 'OP_UNIQUE_CARRIER',
       'OP_CARRIER_AIRLINE_ID', 'OP_CARRIER', 'TAIL_NUM', 'OP_CARRIER_FL_NUM',
       'ORIGIN_AIRPORT_ID', 'ORIGIN_AIRPORT_SEQ_ID', 'ORIGIN',
       'DEST_AIRPORT_ID', 'DEST_AIRPORT_SEQ_ID', 'DEST', 'DEP_TIME',
       'DEP_DEL15', 'DEP_TIME_BLK', 'ARR_TIME', 'ARR_DEL15', 'CANCELLED',
       'DIVERTED', 'DISTANCE'],
      dtype='object')

In [7]:
data_dict = {
    'DAY_OF_MONTH' : 'Day of Month',
    'DAY_OF_WEEK' : 'Day of Week starting from Monday',
    'OP_UNIQUE_CARRIER' : 'Unique Carrier Code. When the same code has been used by multiple carriers, a numeric suffix is used for earlier users,',
    'OP_CARRIER_AIRLINE_ID' : 'An identification number assigned by US DOT to identify a unique airline (carrier). A unique airline (carrier) is defined as one',
    'OP_CARRIER' : 'Code assigned by IATA and commonly used to identify a carrier. As the same code may have been assigned to different',
    'TAIL_NUM' : 'Tail Number',
     'OP_CARRIER_FL_NUM' : 'Flight Number',
    'ORIGIN_AIRPORT_ID' : 'Origin Airport, Airport ID. An identification number assigned by US DOT to identify a unique airport.',
    'ORIGIN_AIRPORT_SEQ_ID' : 'Origin Airport, Airport Sequence ID. An identification number assigned by US DOT to identify a unique airport at',
    'ORIGIN' : 'Origin Airport',
    'DEST_AIRPORT_ID' : 'Destination Airport, Airport ID. An identification number assigned by US DOT to identify a unique airport.',
    'DEST_AIRPORT_SEQ_ID' : 'Destination Airport, Airport Sequence ID. An identification number assigned by US DOT to identify a unique airport at',
    'DEST' : 'Destination Airport',
     'DEP_TIME' : 'Actual Departure Time (local time: hhmm)',
    'DEP_DEL15' : 'Departure Delay Indicator, 15 Minutes or More (1=Yes, 0=No)',
    'DEP_TIME_BLK' : 'Departure Time Block, Hourly Intervals',
    'ARR_TIME' : 'Actual Arrival Time (local time: hhmm)',
    'ARR_DEL15' : 'Arrival Delay Indicator, 15 Minutes or More (1=Yes, 0=No)',
    'CANCELLED' : 'Cancelled Flight Indicator (1=Yes, 0=No)' ,
    'DIVERTED' :  ' Diverted Flight Indicator (1=Yes, 0=No)',
    'DISTANCE' : 'Distance between airports (miles)'
    
}

In [8]:
data_dict.keys()

dict_keys(['DAY_OF_MONTH', 'DAY_OF_WEEK', 'OP_UNIQUE_CARRIER', 'OP_CARRIER_AIRLINE_ID', 'OP_CARRIER', 'TAIL_NUM', 'OP_CARRIER_FL_NUM', 'ORIGIN_AIRPORT_ID', 'ORIGIN_AIRPORT_SEQ_ID', 'ORIGIN', 'DEST_AIRPORT_ID', 'DEST_AIRPORT_SEQ_ID', 'DEST', 'DEP_TIME', 'DEP_DEL15', 'DEP_TIME_BLK', 'ARR_TIME', 'ARR_DEL15', 'CANCELLED', 'DIVERTED', 'DISTANCE'])

In [9]:
pd.set_option('display.max_colwidth',None)
pd.DataFrame(data_dict,index=[0]).T

                                                                                                                                                      0
DAY_OF_MONTH                                                                                                                               Day of Month
DAY_OF_WEEK                                                                                                            Day of Week starting from Monday
OP_UNIQUE_CARRIER               Unique Carrier Code. When the same code has been used by multiple carriers, a numeric suffix is used for earlier users,
OP_CARRIER_AIRLINE_ID  An identification number assigned by US DOT to identify a unique airline (carrier). A unique airline (carrier) is defined as one
OP_CARRIER                          Code assigned by IATA and commonly used to identify a carrier. As the same code may have been assigned to different
TAIL_NUM                                                                                                                                    Tail Number
OP_CARRIER_FL_NUM                                                                                                                         Flight Number
ORIGIN_AIRPORT_ID                                 Origin Airport, Airport ID. An identification number assigned by US DOT to identify a unique airport.
ORIGIN_AIRPORT_SEQ_ID                  Origin Airport, Airport Sequence ID. An identification number assigned by US DOT to identify a unique airport at
ORIGIN                                                                                                                                   Origin Airport
DEST_AIRPORT_ID                              Destination Airport, Airport ID. An identification number assigned by US DOT to identify a unique airport.
DEST_AIRPORT_SEQ_ID               Destination Airport, Airport Sequence ID. An identification number assigned by US DOT to identify a unique airport at
DEST                                                                                                                                Destination Airport
DEP_TIME                                                                                                       Actual Departure Time (local time: hhmm)
DEP_DEL15                                                                                   Departure Delay Indicator, 15 Minutes or More (1=Yes, 0=No)
DEP_TIME_BLK                                                                                                     Departure Time Block, Hourly Intervals
ARR_TIME                                                                                                         Actual Arrival Time (local time: hhmm)
ARR_DEL15                                                                                     Arrival Delay Indicator, 15 Minutes or More (1=Yes, 0=No)
CANCELLED                                                                                                      Cancelled Flight Indicator (1=Yes, 0=No)
DIVERTED                                                                                                        Diverted Flight Indicator (1=Yes, 0=No)
DISTANCE                                                                                                              Distance between airports (miles)

In [10]:
import pandas_profiling as pf
#pf.ProfileReport(df)

In [11]:
df_non_cancelled = df[df['CANCELLED'] == 0].dropna().reset_index(drop=True)
df_non_cancelled.head()

,DAY_OF_MONTH,DAY_OF_WEEK,OP_UNIQUE_CARRIER,OP_CARRIER_AIRLINE_ID,OP_CARRIER,TAIL_NUM,OP_CARRIER_FL_NUM,ORIGIN_AIRPORT_ID,ORIGIN_AIRPORT_SEQ_ID,ORIGIN,DEST_AIRPORT_ID,DEST_AIRPORT_SEQ_ID,DEST,DEP_TIME,DEP_DEL15,DEP_TIME_BLK,ARR_TIME,ARR_DEL15,CANCELLED,DIVERTED,DISTANCE
0,1,2,9E,20363,9E,N8688C,3280,11953,1195302,GNV,10397,1039707,ATL,601.0,0.0,0600-0659,722.0,0.0,0,0,300
1,1,2,9E,20363,9E,N348PQ,3281,13487,1348702,MSP,11193,1119302,CVG,1359.0,0.0,1400-1459,1633.0,0.0,0,0,596
2,1,2,9E,20363,9E,N8896A,3282,11433,1143302,DTW,11193,1119302,CVG,1215.0,0.0,1200-1259,1329.0,0.0,0,0,229
3,1,2,9E,20363,9E,N8886A,3283,15249,1524906,TLH,10397,1039707,ATL,1521.0,0.0,1500-1559,1625.0,0.0,0,0,223
4,1,2,9E,20363,9E,N8974C,3284,10397,1039707,ATL,11778,1177801,FSM,1847.0,0.0,1900-1959,1940.0,0.0,0,0,579

In [12]:
df_non_cancelled.dtypes

DAY_OF_MONTH               int64
DAY_OF_WEEK                int64
OP_UNIQUE_CARRIER         object
OP_CARRIER_AIRLINE_ID      int64
OP_CARRIER                object
TAIL_NUM                  object
OP_CARRIER_FL_NUM          int64
ORIGIN_AIRPORT_ID          int64
ORIGIN_AIRPORT_SEQ_ID      int64
ORIGIN                    object
DEST_AIRPORT_ID            int64
DEST_AIRPORT_SEQ_ID        int64
DEST                      object
DEP_TIME                 float64
DEP_DEL15                float64
DEP_TIME_BLK              object
ARR_TIME                 float64
ARR_DEL15                float64
CANCELLED                  int64
DIVERTED                   int64
DISTANCE                   int64
dtype: object

In [13]:
string_cols = ['DAY_OF_MONTH','DAY_OF_WEEK','OP_CARRIER_AIRLINE_ID','OP_CARRIER_FL_NUM','ORIGIN_AIRPORT_ID','ORIGIN_AIRPORT_SEQ_ID','DEST_AIRPORT_ID','DEST_AIRPORT_SEQ_ID','CANCELLED','DIVERTED','DISTANCE']
for i in string_cols:
    df_non_cancelled[i] = df_non_cancelled[i].astype(str)

In [14]:
#pf.ProfileReport(df_non_cancelled)

In [15]:
XY = df_non_cancelled[['DAY_OF_MONTH','DAY_OF_WEEK','OP_CARRIER_AIRLINE_ID','OP_CARRIER','ORIGIN_AIRPORT_ID','ORIGIN','DEST_AIRPORT_ID','DEST','DISTANCE','ARR_DEL15']]
XY.head()

,DAY_OF_MONTH,DAY_OF_WEEK,OP_CARRIER_AIRLINE_ID,OP_CARRIER,ORIGIN_AIRPORT_ID,ORIGIN,DEST_AIRPORT_ID,DEST,DISTANCE,ARR_DEL15
0,1,2,20363,9E,11953,GNV,10397,ATL,300,0.0
1,1,2,20363,9E,13487,MSP,11193,CVG,596,0.0
2,1,2,20363,9E,11433,DTW,11193,CVG,229,0.0
3,1,2,20363,9E,15249,TLH,10397,ATL,223,0.0
4,1,2,20363,9E,10397,ATL,11778,FSM,579,0.0

In [16]:
XY.ORIGIN_AIRPORT_ID.unique()

array(['11953', '13487', '11433', '15249', '10397', '11267', '12448',
       '12953', '12451', '10685', '10874', '14100', '12478', '10208',
       '12992', '12339', '11624', '10868', '11203', '15323', '10721',
       '13277', '13230', '13342', '15380', '11778', '10599', '14108',
       '11193', '12007', '14730', '10693', '14683', '12951', '13485',
       '11423', '11612', '10135', '11278', '10821', '12323', '15412',
       '12945', '11042', '11537', '11617', '14098', '14814', '11150',
       '15370', '10529', '11298', '14524', '14457', '14122', '11146',
       '11973', '10980', '13871', '12264', '14492', '14685', '11986',
       '10785', '12884', '13795', '10185', '10990', '10994', '12206',
       '13931', '13433', '12217', '13204', '10781', '12892', '13930',
       '14107', '13303', '11066', '14771', '14747', '15016', '11057',
       '12889', '13796', '10792', '11697', '14843', '10257', '14321',
       '14893', '13296', '15304', '11503', '13830', '12173', '13495',
       '12266', '12758', '11292', '14679', '15376', '14831', '14908',
       '11980', '14869', '11638', '11618', '12441', '13198', '14193',
       '11540', '10423', '10140', '14262', '13244', '14027', '14057',
       '10155', '10136', '11415', '11995', '10620', '10434', '11049',
       '11003', '11140', '11982', '10469', '15411', '11637', '11996',
       '13256', '10279', '15074', '13502', '12891', '15919', '11067',
       '13290', '14783', '10431', '10466', '14082', '14761', '14986',
       '14112', '10676', '14025', '10666', '12544', '14696', '10581',
       '11721', '12265', '12280', '10627', '11898', '14307', '13360',
       '15295', '13577', '13422', '12197', '11641', '15096', '10361',
       '12244', '12954', '14570', '14635', '14576', '12191', '15027',
       '13891', '15070', '11252', '10732', '14254', '13933', '15024',
       '15624', '12278', '13851', '12896', '13061', '10747', '12177',
       '14689', '15356', '11109', '14259', '12391', '10849', '12982',
       '12402', '11481', '12124', '12898', '10158', '11695', '10372',
       '12094', '14489', '16218', '11977', '11921', '11775', '11823',
       '14588', '10408', '10561', '11603', '14674', '13264', '12511',
       '14794', '11233', '13241', '14109', '10713', '11259', '10800',
       '15023', '14698', '13476', '11884', '14633', '15607', '13184',
       '15041', '14252', '13367', '11648', '11337', '11577', '11308',
       '10146', '10731', '13232', '12003', '13076', '11587', '11122',
       '14711', '12156', '13029', '12389', '13377', '13486', '14574',
       '11076', '11471', '13121', '14802', '13344', '12255', '14877',
       '11468', '15454', '11027', '14543', '14288', '14006', '10967',
       '15582', '11092', '12902', '10558', '14952', '11447', '12519',
       '12888', '14237', '11865', '12899', '10157', '14487', '13964',
       '13388', '13158', '11097', '13127', '14113', '13459', '10141',
       '10333', '14150', '10631', '10739', '10779', '10918', '11013',
       '11525', '12335', '15389', '12129', '14520', '10577', '12397',
       '12343', '14842', '11905', '15048', '15401', '10268', '11274',
       '10170', '10299', '10551', '10754', '14709', '11630', '12819',
       '12523', '15841', '14256', '14828', '13873', '13970', '12915',
       '12917', '12223', '12012', '14960', '11111', '10728', '11413',
       '12016', '14955', '14716', '14314', '14512', '11867', '15008',
       '14905', '15991', '10926', '10165', '12119', '13983', '13832',
       '14222', '13829', '13139'], dtype=object)

In [17]:
np.arange(len(XY.ORIGIN_AIRPORT_ID.unique()))

array([  0,   1,   2,   3,   4,   5,   6,   7,   8,   9,  10,  11,  12,
        13,  14,  15,  16,  17,  18,  19,  20,  21,  22,  23,  24,  25,
        26,  27,  28,  29,  30,  31,  32,  33,  34,  35,  36,  37,  38,
        39,  40,  41,  42,  43,  44,  45,  46,  47,  48,  49,  50,  51,
        52,  53,  54,  55,  56,  57,  58,  59,  60,  61,  62,  63,  64,
        65,  66,  67,  68,  69,  70,  71,  72,  73,  74,  75,  76,  77,
        78,  79,  80,  81,  82,  83,  84,  85,  86,  87,  88,  89,  90,
        91,  92,  93,  94,  95,  96,  97,  98,  99, 100, 101, 102, 103,
       104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116,
       117, 118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129,
       130, 131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 141, 142,
       143, 144, 145, 146, 147, 148, 149, 150, 151, 152, 153, 154, 155,
       156, 157, 158, 159, 160, 161, 162, 163, 164, 165, 166, 167, 168,
       169, 170, 171, 172, 173, 174, 175, 176, 177, 178, 179, 180, 181,
       182, 183, 184, 185, 186, 187, 188, 189, 190, 191, 192, 193, 194,
       195, 196, 197, 198, 199, 200, 201, 202, 203, 204, 205, 206, 207,
       208, 209, 210, 211, 212, 213, 214, 215, 216, 217, 218, 219, 220,
       221, 222, 223, 224, 225, 226, 227, 228, 229, 230, 231, 232, 233,
       234, 235, 236, 237, 238, 239, 240, 241, 242, 243, 244, 245, 246,
       247, 248, 249, 250, 251, 252, 253, 254, 255, 256, 257, 258, 259,
       260, 261, 262, 263, 264, 265, 266, 267, 268, 269, 270, 271, 272,
       273, 274, 275, 276, 277, 278, 279, 280, 281, 282, 283, 284, 285,
       286, 287, 288, 289, 290, 291, 292, 293, 294, 295, 296, 297, 298,
       299, 300, 301, 302, 303, 304, 305, 306, 307, 308, 309, 310, 311,
       312, 313, 314, 315, 316, 317, 318, 319, 320, 321, 322, 323, 324,
       325, 326, 327, 328, 329, 330, 331, 332, 333, 334, 335, 336, 337,
       338, 339, 340, 341, 342, 343, 344, 345])

In [18]:
pd.DataFrame(np.vstack([XY.ORIGIN_AIRPORT_ID.unique(),np.arange(len(XY.ORIGIN_AIRPORT_ID.unique()))])).T.set_index(0).to_dict()[1]

{'11953': 0,
 '13487': 1,
 '11433': 2,
 '15249': 3,
 '10397': 4,
 '11267': 5,
 '12448': 6,
 '12953': 7,
 '12451': 8,
 '10685': 9,
 '10874': 10,
 '14100': 11,
 '12478': 12,
 '10208': 13,
 '12992': 14,
 '12339': 15,
 '11624': 16,
 '10868': 17,
 '11203': 18,
 '15323': 19,
 '10721': 20,
 '13277': 21,
 '13230': 22,
 '13342': 23,
 '15380': 24,
 '11778': 25,
 '10599': 26,
 '14108': 27,
 '11193': 28,
 '12007': 29,
 '14730': 30,
 '10693': 31,
 '14683': 32,
 '12951': 33,
 '13485': 34,
 '11423': 35,
 '11612': 36,
 '10135': 37,
 '11278': 38,
 '10821': 39,
 '12323': 40,
 '15412': 41,
 '12945': 42,
 '11042': 43,
 '11537': 44,
 '11617': 45,
 '14098': 46,
 '14814': 47,
 '11150': 48,
 '15370': 49,
 '10529': 50,
 '11298': 51,
 '14524': 52,
 '14457': 53,
 '14122': 54,
 '11146': 55,
 '11973': 56,
 '10980': 57,
 '13871': 58,
 '12264': 59,
 '14492': 60,
 '14685': 61,
 '11986': 62,
 '10785': 63,
 '12884': 64,
 '13795': 65,
 '10185': 66,
 '10990': 67,
 '10994': 68,
 '12206': 69,
 '13931': 70,
 '13433': 71,
 '12217': 72,
 '13204': 73,
 '10781': 74,
 '12892': 75,
 '13930': 76,
 '14107': 77,
 '13303': 78,
 '11066': 79,
 '14771': 80,
 '14747': 81,
 '15016': 82,
 '11057': 83,
 '12889': 84,
 '13796': 85,
 '10792': 86,
 '11697': 87,
 '14843': 88,
 '10257': 89,
 '14321': 90,
 '14893': 91,
 '13296': 92,
 '15304': 93,
 '11503': 94,
 '13830': 95,
 '12173': 96,
 '13495': 97,
 '12266': 98,
 '12758': 99,
 '11292': 100,
 '14679': 101,
 '15376': 102,
 '14831': 103,
 '14908': 104,
 '11980': 105,
 '14869': 106,
 '11638': 107,
 '11618': 108,
 '12441': 109,
 '13198': 110,
 '14193': 111,
 '11540': 112,
 '10423': 113,
 '10140': 114,
 '14262': 115,
 '13244': 116,
 '14027': 117,
 '14057': 118,
 '10155': 119,
 '10136': 120,
 '11415': 121,
 '11995': 122,
 '10620': 123,
 '10434': 124,
 '11049': 125,
 '11003': 126,
 '11140': 127,
 '11982': 128,
 '10469': 129,
 '15411': 130,
 '11637': 131,
 '11996': 132,
 '13256': 133,
 '10279': 134,
 '15074': 135,
 '13502': 136,
 '12891': 137,
 '15919': 138,
 '11067': 139,
 '13290': 140,
 '14783': 141,
 '10431': 142,
 '10466': 143,
 '14082': 144,
 '14761': 145,
 '14986': 146,
 '14112': 147,
 '10676': 148,
 '14025': 149,
 '10666': 150,
 '12544': 151,
 '14696': 152,
 '10581': 153,
 '11721': 154,
 '12265': 155,
 '12280': 156,
 '10627': 157,
 '11898': 158,
 '14307': 159,
 '13360': 160,
 '15295': 161,
 '13577': 162,
 '13422': 163,
 '12197': 164,
 '11641': 165,
 '15096': 166,
 '10361': 167,
 '12244': 168,
 '12954': 169,
 '14570': 170,
 '14635': 171,
 '14576': 172,
 '12191': 173,
 '15027': 174,
 '13891': 175,
 '15070': 176,
 '11252': 177,
 '10732': 178,
 '14254': 179,
 '13933': 180,
 '15024': 181,
 '15624': 182,
 '12278': 183,
 '13851': 184,
 '12896': 185,
 '13061': 186,
 '10747': 187,
 '12177': 188,
 '14689': 189,
 '15356': 190,
 '11109': 191,
 '14259': 192,
 '12391': 193,
 '10849': 194,
 '12982': 195,
 '12402': 196,
 '11481': 197,
 '12124': 198,
 '12898': 199,
 '10158': 200,
 '11695': 201,
 '10372': 202,
 '12094': 203,
 '14489': 204,
 '16218': 205,
 '11977': 206,
 '11921': 207,
 '11775': 208,
 '11823': 209,
 '14588': 210,
 '10408': 211,
 '10561': 212,
 '11603': 213,
 '14674': 214,
 '13264': 215,
 '12511': 216,
 '14794': 217,
 '11233': 218,
 '13241': 219,
 '14109': 220,
 '10713': 221,
 '11259': 222,
 '10800': 223,
 '15023': 224,
 '14698': 225,
 '13476': 226,
 '11884': 227,
 '14633': 228,
 '15607': 229,
 '13184': 230,
 '15041': 231,
 '14252': 232,
 '13367': 233,
 '11648': 234,
 '11337': 235,
 '11577': 236,
 '11308': 237,
 '10146': 238,
 '10731': 239,
 '13232': 240,
 '12003': 241,
 '13076': 242,
 '11587': 243,
 '11122': 244,
 '14711': 245,
 '12156': 246,
 '13029': 247,
 '12389': 248,
 '13377': 249,
 '13486': 250,
 '14574': 251,
 '11076': 252,
 '11471': 253,
 '13121': 254,
 '14802': 255,
 '13344': 256,
 '12255': 257,
 '14877': 258,
 '11468': 259,
 '15454': 260,
 '11027': 261,
 '14543': 262,
 '14288': 263,
 '14006': 264,
 '10967': 265,
 '15582': 266,
 '11092': 267,
 '12902': 268,
 '10558': 269,
 '14952': 270,
 '11447': 271,
 '12519': 272,
 '12888': 273,
 '14237': 274,
 '11865': 275,
 '12899': 276,
 '10157': 277,
 '14487': 278,
 '13964': 279,
 '13388': 280,
 '13158': 281,
 '11097': 282,
 '13127': 283,
 '14113': 284,
 '13459': 285,
 '10141': 286,
 '10333': 287,
 '14150': 288,
 '10631': 289,
 '10739': 290,
 '10779': 291,
 '10918': 292,
 '11013': 293,
 '11525': 294,
 '12335': 295,
 '15389': 296,
 '12129': 297,
 '14520': 298,
 '10577': 299,
 '12397': 300,
 '12343': 301,
 '14842': 302,
 '11905': 303,
 '15048': 304,
 '15401': 305,
 '10268': 306,
 '11274': 307,
 '10170': 308,
 '10299': 309,
 '10551': 310,
 '10754': 311,
 '14709': 312,
 '11630': 313,
 '12819': 314,
 '12523': 315,
 '15841': 316,
 '14256': 317,
 '14828': 318,
 '13873': 319,
 '13970': 320,
 '12915': 321,
 '12917': 322,
 '12223': 323,
 '12012': 324,
 '14960': 325,
 '11111': 326,
 '10728': 327,
 '11413': 328,
 '12016': 329,
 '14955': 330,
 '14716': 331,
 '14314': 332,
 '14512': 333,
 '11867': 334,
 '15008': 335,
 '14905': 336,
 '15991': 337,
 '10926': 338,
 '10165': 339,
 '12119': 340,
 '13983': 341,
 '13832': 342,
 '14222': 343,
 '13829': 344,
 '13139': 345}

In [19]:
for i in XY.columns:
    try:
        int(XY[i])
    except:
        list_r = XY[i].unique()
        mapdict = pd.DataFrame(np.vstack([XY[i].unique(),np.arange(len(XY[i].unique()))])).T.set_index(0).to_dict()[1]
        XY[i] = XY[i].map(mapdict)

<ipython-input-19-074164b25875>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  XY[i] = XY[i].map(mapdict)

In [20]:
XY.head()

,DAY_OF_MONTH,DAY_OF_WEEK,OP_CARRIER_AIRLINE_ID,OP_CARRIER,ORIGIN_AIRPORT_ID,ORIGIN,DEST_AIRPORT_ID,DEST,DISTANCE,ARR_DEL15
0,0,0,0,0,0,0,0,0,0,0.0
1,0,0,0,0,1,1,1,1,1,0.0
2,0,0,0,0,2,2,1,1,2,0.0
3,0,0,0,0,3,3,0,0,3,0.0
4,0,0,0,0,4,4,2,2,4,0.0

## train test split

In [21]:
X = XY[XY.columns[:-1]]

In [22]:
Y = XY[XY.columns[-1]]

In [23]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(X,Y,test_size=0.30,random_state=42)

In [24]:
from sklearn import tree
clf = tree.DecisionTreeClassifier()
clf = clf.fit(x_train,y_train)

In [25]:
clf.predict(x_test)

array([0., 0., 0., ..., 0., 0., 0.])

In [26]:
y_test.values

array([0., 1., 0., ..., 0., 0., 0.])

In [27]:
from sklearn.metrics import confusion_matrix
confusion = confusion_matrix(clf.predict(x_test),y_test)
confusion

array([[124655,  22730],
       [ 13557,   8847]], dtype=int64)

In [28]:
confusion.sum()

169789

In [29]:
((confusion[0,0] + confusion[1,1]))/confusion.sum()*100

78.62817968184041

In [30]:
from sklearn.ensemble import RandomForestClassifier

In [31]:
clf = RandomForestClassifier()

In [ ]:
clf.fit(x_test,y_test)

In [ ]:
predicisons = clf.predict(x_test)

In [ ]:
y_test.values

In [ ]:
 conf = confusion_matrix(predicisons,y_test)

In [ ]:
((conf[0,0] + conf[1,1]))/conf.sum()*100

## How Model is used in Production

In [ ]:
clf.fit(X,Y)